body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    background-color: white;
    padding: 40px;
    width: 400px;
    text-align: center;
    border: 1px solid #b6b6b6;
}

h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.link {
    margin-bottom: 20px;
    border: 1px solid #999;
}

a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

a:hover{
    background-color: aqua;
}